@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Hubballi&family=Lexend+Deca:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');          

body{
    font-family: "Lexend Deca", sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
     color: #FFFFFF;
}
ul{
    list-style: none;
}
footer{
  display: flex;
  justify-content:left;
  background: #ACBD78;
}
section{
    margin-top: 10px;
    margin-bottom: 10px;
}

section p {
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Hubballi&family=Lexend+Deca:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');          

body{
    font-family: "Lexend Deca", sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
     color: #FFFFFF;
}
ul{
    list-style: none;
}
footer{
  display: flex;
  justify-content:left;
  background: #ACBD78;
}
section{
    margin-top: 10px;
    margin-bottom: 10px;
}

section p {
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 0;
  }
  
  section a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    background-color: #f39a47;
    border-radius: 20px;
    color: white;
    text-align: center;
  }
  
  section:target p {
    max-height: 200px;
    padding: 10px;
  }

  /* General */
.titulo-seccion{
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
  text-align: center; 
}
.subtitulo-seccion{
  font-weight:normal;
  font-size: 18px;
  margin: 0;
  
}

.division{
    width: 100%;
    height: 2px;
    background-color: #faad47;
 
}

/* Header - navbar*/
.navbar{
    background-color: #ACBD78;
    width: 100%;
    height: 2%;
    display: flex;
}
.logo-header{
    width: 7rem;
    height: 7rem;
    margin-left: 20rem;
}
.hamburger {
  display: none;
}


.nav-link{
    display: inline-block;
    line-height: 5rem;
    font-size: 10pt;
    margin: 0 0.5rem;
}



/* SECTION: Inicio*/

.imagen-inicio{
  width: 100%;
  height: 500px;
  margin: 0 !important;
  right: 0;
  bottom: -0.5px;
  object-fit: cover;
}


/* SECTION: Nosotros*/
.productos{
    background-color: #F0E4B5;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tipos-cervezas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
  .tipos-cerveza{
    text-transform: uppercase;
    width: 300px;
    height: 100px;
    margin: 5px;
    display: flex;
    align-items: center;
    background-color: #ACBD78;
    border-radius: 10px;
    font-size: 10pt;
  }
  
  .cerveza-dibujo{
    width: 120px;
   height: 120px;
  } 

/* SECTION: Servicios*/
.comprar{
    height: 1050px;
    padding: 10px;
    background-color:#F0E4B5;
}
.descripcion-servicio {
  margin-bottom: 100px;
}
.servicios{
  display: grid;
  grid-template-columns: auto auto;
  margin: 30px;
}
.servicio-icono{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.cerveza-icono{
    width: 150px;
    height: 150px;
}
.APservicio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fondo-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  background-color: #ACBD78;
  border-radius: 50%;
}
.btn-servicio{
    font-weight: bold;
    margin-bottom: 2%;
    width: 250px;
    border-radius: 20px;   
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
   }

   .servicio-titulo{
    font-size: 16px;
    font-weight: bold;
   }
   

/* SECTION: Punto de venta*/
.puntosVenta{
  background-color: #ACBD78;
  margin: 0;
  margin-top: 10px;
}

/* SECTION: Contacto*/
.btn{
  color: #FFFFFF;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: semi-bold;
  text-align: center;
  background-color: #ACBD78;
  border-color: #ACBD78;
  
}

.input{
  width: 200px;
  height: 20px;
  background-color: #acbd7888;
  border-radius: 40px;
  border-color: #acbd78ab;
  margin-bottom: 5px;
}
/* Footer*/
.logo-footer{
  justify-self: left;
  width: 100px;
  height: 100px;
}

/*Responsive*/

@media (max-width: 768px) {
  .logo-header{
    margin-left: 10rem;
  }

    .info-container {
        width: 1200px;
      }
      
    .tipos-cervezas{
        flex-direction: column;
    }
    .nosotros-img{
        display: none;
    }
    .info-container {
        width: 250px;
        margin: auto;	
    }
    .nosotros{
      height: 1400px;
    }
    .comprar{
      height: 3000px;
    }
    .servicios{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
    }   
}
  section a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    background-color: #f39a47;
    border-radius: 20px;
    color: white;
    text-align: center;
  }
  
  section:target p {
    max-height: 200px;
    padding: 10px;
  }

  /* General */
.titulo-seccion{
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
  text-align: center; 
}
.subtitulo-seccion{
  font-weight:normal;
  font-size: 18px;
  margin: 0;
  
}

.division{
    width: 100%;
    height: 2px;
    background-color: #faad47;
 
}

/* Header - navbar*/
.navbar{
    background-color: #ACBD78;
    width: 100%;
    height: 2%;
    display: flex;
}
.logo-header{
    width: 7rem;
    height: 7rem;
    margin-left: 20rem;
}

.nav-link{
    display: inline-block;
    line-height: 5rem;
    font-size: 10pt;
    margin: 0 0.5rem;
}

.bars{
  font-size: 2rem;
  color: #F0E4B5;
  float: left;
  cursor: pointer;
  display: none;
  margin-left: 1rem;
  padding: -2rem;
  border-radius: -1rem;
}
.checkbox{
  display: none;
}


/* SECTION: Nosotros*/

/* SECTION: Nosotros*/
.nosotros {
  padding: 20px;
  background-color: #ACBD78;
  max-height: 500px;
}

.titulo-seccion {
  text-align: center;
  font-size: 2em;
}

.subtitulo-seccion {
  text-align: center;
  font-size: 1.2em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.accordion {
  flex: 1;
  min-width: 300px; /* Asegura que el acordeón tenga al menos un ancho mínimo */
  max-width: 900px;
  margin-right: 20px;
}
.accordion-item {
  border: 1px solid #F0E4B5;
  margin-bottom: 30px;
  border-radius:10px ;
}

.accordion-title {
  background-color: #faad47;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
display: none;
}

.accordion-title:hover {
  background-color:#F0E4B5;

}

.accordion input[type="radio"]:checked ~ .accordion-content {
  display: block;
}

.imagen-lado-derecho {
  flex: 1;
  max-width: 250px; /* Ajusta el tamaño máximo de la imagen */
  
}

.imagen-lado-derecho img {
  border-radius: 30px;
  width: 100%;
  height: auto;
  object-fit: cover;
}  


/* SECTION: Servicios*/
.comprar{
    height: 1050px;
    padding: 10px;
    background-color:#F0E4B5;
}
.servicios{
  display: grid;
  grid-template-columns: auto auto;
  margin: 100px;
}
.servicio-icono{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.cerveza-icono{
    width: 150px;
    height: 150px;
}
.APservicio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fondo-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  background-color: #ACBD78;
  border-radius: 50%;
}
.btn-servicio{
    font-weight: bold;
    margin-bottom: 2%;
    width: 250px;
    border-radius: 20px;   
    border: none;
    color: white;
    padding: 0px 34px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
   }

   .servicio-titulo{
    font-size: 16px;
    font-weight: bold;
   }
   
/* SECTION: Comunidad*/
.comunidadAP{
  max-height: 700px ;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background-color: #f3f3f3;
  padding: 5px;
}

.banner img {
  max-height: 200px; /* Ajusta la altura máxima de las imágenes según tus necesidades */
  max-width: 100%;
  object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
  margin: 0 5px; /* Espacio entre las imágenes */
}
/* Estilos adicionales para el resto de la sección */
.text-comunidad {
  text-align: center;
  margin-top: 20px;
}

.suscribirse-comunidad {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}


/* SECTION: Punto de venta*/
.puntosVenta{
  background-color: #ACBD78;
  margin: 0;
  margin-top: 10px;
}

/* SECTION: Contacto*/
.btn{
  color: #FFFFFF;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: semi-bold;
  text-align: center;
  background-color: #ACBD78;
  border-color: #ACBD78;
  
}

.input{
  width: 200px;
  height: 20px;
  background-color: #acbd7888;
  border-radius: 40px;
  border-color: #acbd78ab;
  margin-bottom: 5px;
}
/* Footer*/
.content-footer{
  display: flex;
  align-items: center;
}
.contact-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-info p{
  display: none;
}
.social-buttons {
  display: flex;
  gap: 10px;
}

.social-button img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-button:hover img {
  transform: scale(1.1);
}

/*Responsive*/

@media (max-width: 768px) {
  .logo-header{
    margin-left: 5rem;
  }

  .hamburger {
    display: block;
    background-color: transparent;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s
      cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 25px;
    margin-left: 50px;
  }
  .hamburger.is-active {
    background-color: none;
  }
  ._layer {
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
  }
  .-top, .-mid, .-bottom{
    background-color: #F0E4B5;
  }

  .menuppal.is_active {
    transform: translate3d(0px, 0px, 0px);
  }
  .menuppal {
    display: flex;
    background-color: #fcfcd7;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
  }
  .navlinks{
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 35%;
    padding: 0;
    color: black;
  }

  .menuppal ul li {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3em;
    height: 3em;
    color: #f39a47;

    text-transform: none;
    font-weight: bold;
  }

  .menuppal ul li a{
    color: #f39a47;
    font-size:10px ;
  }
  .imagen-inicio{
    max-width: 100%;
    height: auto ;
  }  
  .titulo-seccion{
    font-size: 18px;
  }
  .subtitulo-seccion{
    font-size: 16px;
  }
  .productos h5{
    font-size: 12px;
  }
  .tipos-cervezas{
      flex-direction: column;
  }
  .nosotros{
    max-height: 500px;
  }
  .nosotros-img{
      display: none;
  }
  .info-container {
      width: 250px;
      margin: auto;	
  }
  .content {
    flex-direction: column;
    align-items: center;
  }

  .accordion {
      margin-right: 0;
  }
  .accordion-content p{
    font-size: 12px;
  }

  .imagen-lado-derecho {
    display: none;
  }
  .comprar{
    height: 1700px;
   }
  .descripcion-servicio{
    font-size: 12px;
    margin-bottom: 400px;
  }
  .servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }   
  
  .banner img {
    max-height: 100px; /* Ajusta el tamaño de las imágenes para teléfonos móviles */
  }
  .enterate{
    font-size: 16px;
  }
  .beneficios, .ingresa-tu-mail{
    font-size: 12px;
  }
  .puntosVenta ul li{
    font-size: 12px;
  }
  .form{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .input{
    width: 200px;
    height: 10px;
  }
  .btn{
    font-size: 10px;
  }
  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
   .footer-t{
    display: none;
   }
}